@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Irish+Grover&family=Joan&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

nav{

    background-color: #172236;
    width: 100%;
    height: 50px;
    display:flex;
    justify-content: center;
    
}

.inputBox{
    background-color: #2d3a52;
    height: 25px;
    margin: 10px;
    width: 200px;
    margin-right: 5px;
    border-radius: 10px;
    border: none;
    color: whitesmoke;
    padding: 2px;
    padding-left: 4px;
}

.submit{
   background-color: #008000; 
   border: none;
   border-radius: 3px;
   height: 25px;
   width: 35px;
   color: whitesmoke;

}

.content{
    height: 100vh;
    background-color: #1E2C46;
    color: whitesmoke;
    display: flex;
    justify-content: space-evenly;
}

.temp{
font-size: 20rem;
margin-left: 4rem;
position: relative;
}

.temp::after {
    content: "°";
    font-size: 10rem;
    position: absolute;

  }

.details{

    margin-top: 3rem;
    margin-left: 4rem;
    font-size: 40px;

}

.icon{
    /* background-color: #008000; */
    height: 600px;
    width: 600px;
    margin-left: 17rem;
    margin-top: 4rem;
    filter: invert(100%);
}

html{
    overflow-y: hidden;
}